<div class="featured text-center">
  <h2>{{model.name}}</h2>
  <p>{{model.blurb}}</p>
  <!-- <img src={{model.photo.med}} alt="" /> -->
  <button class="btn btn-default" {{action "buildSVG" model}}>Click</button>

  <div id="chart">
    <p>
      
    </p>
  </div>
</div>

  <!-- <div class="row">
    <div class="col-sm-6">
      <p>$ pledged: </p>
      <p>{{model.pledged}}</p>
    </div>
    <div class="col-sm-6">
      <p>$ goal: </p>
      <p>{{model.goal}}</p>
    </div>
  </div>
</div> -->
